<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.5" name="eweOS-init-rollingtest">
    <description type="boot">
        <author>Yukari Chiba</author>
        <contact>i@0x7f.cc</contact>
        <specification>eweOS Init Appliance</specification>
    </description>
    <preferences>
        <type image="cpio" />
        <version>1.0.0</version>
        <packagemanager>pacman</packagemanager>
        <rpm-check-signatures>false</rpm-check-signatures>
    </preferences>
    <repository components="eweOS_Meta_Rolling">
        <source path="obs://eweOS:Meta/Rolling"/>
    </repository>
    <repository components="eweOS_Minimal_Rolling">
        <source path="obs://eweOS:Minimal/Rolling"/>
    </repository>
    <repository components="eweOS_Kernel_Rolling">
        <source path="obs://eweOS:Kernel/Rolling"/>
    </repository>
    <repository components="eweOS_Misc_Rolling">
        <source path="obs://eweOS:Misc/Rolling"/>
    </repository>
    <repository components="eweOS_Misclibs_Rolling">
        <source path="obs://eweOS:Misclibs/Rolling"/>
    </repository>
    <repository components="eweOS_Develop_Rolling">
        <source path="obs://eweOS:Develop/Rolling"/>
    </repository>
    <repository components="eweOS_Boot_Rolling">
        <source path="obs://eweOS:Boot/Rolling"/>
    </repository>
    <repository components="eweOS_Image_Tools_Rolling">
        <source path="obs://eweOS:Image:Tools/Rolling"/>
    </repository>
    <packages type="image" profiles="std">
        <package name="linux"/>
    </packages>
    <packages type="bootstrap">
        <package name="musl"/>
        <package name="busybox"/>
        <package name="e2fsprogs"/>
        <package name="util-linux"/>
        <package name="util-linux-libs"/>
    </packages>
</image>